.body {
    background-color: #112D32;
    color: ghostwhite;
}

.content-section{
    border-radius: 20px;
    padding: 20px;
    background-color: #1B4D3E;
    background: linear-gradient(40deg, rgba(23,64,52,1) 0%, rgba(27,77,62,1) 100%);
    margin-top: 30px !important;
    color: ghostwhite;
    width: 80%;
}

.content-section-heading {
    margin-left: 10px;
    font-size: calc(24px + 0.7vw);
}

.content-section .text{
    width: 90%;
    text-justify: inter-word;
    font-size: calc(12px + 0.5vw);
    margin: 10px;
}

.toolbar-spacing{
    margin-top: 8rem;
}

.photo{
    width: 100%;
    height: 100%;
}

.right-padding{
    padding-right: 40px;
}

.center {
    margin: auto;
}