.body {
    background-color: #112D32;
    color: ghostwhite;
}

.content-section{
    border-radius: 20px;
    padding: 20px;
    background-color: #1B4D3E;
    background: linear-gradient(40deg, rgba(23,64,52,1) 0%, rgba(27,77,62,1) 100%);
    margin-top: 30px !important;
    color: ghostwhite;
    width: 80%;
}

.toolbar-spacing{
    margin-top: 8rem;
}

.photo{
    width: 100%;
    height: 100%;
}

.right{
    margin-right: 0;
    margin-left: auto;
}

.left{
    padding-left: 100px;
    transform: translateX(-30px);
}

.right-padding{
    padding-right: 40px;
}

.content-section.right{
    padding-right: 45px;
    transform: translateX(30px);
    background: linear-gradient(40deg, rgba(27,77,62,1) 0%, rgba(23,64,52,1) 100%);
}

.content-section .text{
    width: 90%;
    text-justify: inter-word;
    font-size: 1.5em;
}