.body {
    background-color: #112D32;
}

.photo-section{
    min-height: 600px;
    max-height: 800px;
    overflow: hidden;
}

.home-main-photo{
    width: 100%;
    overflow: hidden;
}

.content-section{
    border-radius: 20px;
    padding: 20px;
    background-color: #1B4D3E;
    margin-top: 30px !important;
    color: ghostwhite;
    width: 80%;
}

.left{
    padding-left: 100px;
    transform: translateX(-30px);
}

.right{
    margin-right: 0;
    margin-left: auto;
}

.right-padding{
    padding-right: 40px;
}

.content-section.right{
    padding-right: 45px;
    text-align: right;
    transform: translateX(30px);
}

.content-section .text{
    width: 90%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

.left-line{
    border-left: 3px black solid;
}

.square{
    position:relative;
    overflow:hidden;
    padding-bottom:80%;
}

.square img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
  }

.footer{
    margin-top: 30px;
    background-color: #254E58;
    color: #ffffff;
    min-height: 100px;
    width: 100%;
}

.footer-content{
    width: 50%;
    padding-top: 20px;
    margin: auto;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    text-decoration: underline;
    color: gray;
}